.main {
  order: 2;
  @media screen and (min-width: 1440px) {
    margin-left: 320px;
  }
  &__swiper-wrapper{
    padding-left: 12px;
    padding-right: 12px;
    @media screen and (min-width: 1120px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
