.brands-list {
  flex-wrap: wrap;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 0;
  height: 185px;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  row-gap: 16px;
  column-gap: 24px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  @media screen and (min-width: 768px) {
    display: grid;
  }
  @media screen and (min-width: 1120px) {
    grid-template-columns: repeat(4, 1fr);
  }
  &__open {
    grid-auto-rows: auto;
    height: min-content;
  }
}
