@import "../variables";
.brand-card{
  border: 1px solid $cardBorer;
  border-radius: 6px;
  background: $whiteColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;

  &_height-short {
    height: 70px;
  }
  &_height-long {
    height: 160px;
  }

  &__text {
    align-self: start;
    margin: 16px 0;
    font-weight: 600;
  }
  &__descr {
    margin: 0;
    align-self: start;
    font-weight: 500;
  }
  &__title {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-weight: 600;
    color: $grayText;
  }
  &_price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 200px;
    button {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
  &__button{
    border-radius: 50%;
    border: 2px solid $pinkBtn;
    background-color: $bgColor;
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover img{
      filter: invert(26%) sepia(74%) saturate(2326%) hue-rotate(321deg) brightness(92%) contrast(86%);
    }
    &_long {
      width: 118px;
      height: 30px;
      padding: 0;
      background-color: $pinkBtn;
      border-radius: 16px;
      line-height: 24px;
      letter-spacing: -0.15000000596046448px;
      font-weight: 600;
      text-align: right;
      color: $bgColor;
      img{
        margin-left: 16px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(319deg) brightness(112%) contrast(105%);
      }
      &:hover img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(319deg) brightness(112%) contrast(105%);
      }
      &:hover {
        background-color: $pinkBtnActive;
      }
    }
    &_bottom{
      align-self: end;
      margin: 16px 0;
    }
    &:hover {
      border: 2px solid $pinkBtnActive;
    }
  }
  &__media{
    display: none;
    @media screen and (min-width: 1120px) {
      display: flex;
    }
  }
  &__hidden{
    display: none;
  }
  &__visible{
    display: flex;
  }
}
