@import "../variables";
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  background-color: $whiteColor;

}
.main .header {
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
