@import "../variables";
.modal-background {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $whiteColor;
    z-index: 5;
    display: none;
    &__modal_open {
      display: block;
    }
}
.order-call-modal-background {
  z-index: 12;
}
.leave-request-modal-background {
  z-index: 12;
}
