.navigation{
  &__overflow{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    @media (min-width: 1120px) {
      overflow-x: visible;
      flex-wrap: wrap;
    }
    }
  &::-webkit-scrollbar {
    display: none;
  }
}

